.TitleBar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-bottom: 2px #fff solid;
    max-height: 30px;
    margin: 20px
}

.TitleLogoDiv {
    display: flex;
    margin-left: 5px;
}